.contenedor{
    display:flex;
    justify-content:space-evenly;
}
.caja{
    width:30%;
    background-color: goldenrod;
    font-size: 2em;
    border-radius: 12px;
    border:1px solid black;
    color: black;
    text-align: center;
    padding: 12px;
    margin:20px;
}
.img{
    width: 100%;
}